.app{
  position: relative;
  width: 100%;
  background-color: #FAF9F6;
  overflow-x: hidden;
}

.app__navbar{
  background-color: #0fd43a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 120px;
  color: #FAF9F6;
  font-size: 35px;
}

.watch{
  color: #35374f;
}

.app__controls__counter{
  margin-left: 25px;
  margin-top: 25px;
}

h2{
  position: fixed;
  display: inline-block;
  padding: 15px 20px;
  font-size: 25px;
  color: #0fd43a;
  border: 4px solid #35374f;
  border-radius: 20px;
}

.app__controls__delete{
  position: absolute;
  top: 80px;
  right: 250px;
}

.btn__delete__all{
  position: absolute;
  font-size: 20px;
  background-color: red;
  color: #FAF9F6;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 15px;
  width: 150px;
}

.btn__delete__all:hover{
  color: red;
  background-color: #FAF9F6;
  transition: 0.25s;
}